{% macro label(value, classes, attributes) %}
    <span class="_ptgtb__label {{ classes is not empty ? classes|join(' ') }}" {%- for attr, val in attributes %} {{ attr }}="{{ val }}"{% endfor -%}>{{ value }}</span>
{% endmacro %}

{% macro metric(label, value) %}
    <span class="_ptgtb__metric">
        <span class="_ptgtb__metric__label">{{ label }}</span>
        <span class="_ptgtb__metric__value">{{ value }}</span>
    </span>
{% endmacro %}
