{% import _self as toolbar %}

{% macro label(value, classes, attributes) %}
    <span class="_ptg-toolbar__label {{ classes is not empty ? classes|join(' ') }}" {%- for attr, val in attributes %} {{ attr }}="{{ val }}"{% endfor -%}>{{ value }}</span>
{% endmacro %}

{% macro metric(label, value) %}
    <span class="_ptg-toolbar__metric">
        <span class="_ptg-toolbar__metric__label">{{ label }}</span>
        <span class="_ptg-toolbar__metric__value">{{ value }}</span>
    </span>
{% endmacro %}

{% block toolbar %}
    {% spaceless %}
    <div id="_ptg-toolbar-{{ token }}" class="_ptg-toolbar _ptg-toolbar--hidden">
        <div class="_ptg-toolbar__trigger" title="{% trans from 'admin' %}targeting{% endtrans %}">
                <span class="_ptg-toolbar__trigger-icon _ptg-toolbar__trigger-icon--target">
                    {{ include('@PimcoreCore/Profiler/target.svg.twig') }}
                </span>

            <a class="_ptg-toolbar__trigger-icon _ptg-toolbar__trigger-icon--close" data-selector="#_ptg-toolbar-{{ token }}" title="Close Toolbar">
                {{ include('@PimcoreCore/Targeting/toolbar/icon/close.svg.twig') }}
            </a>
        </div>

        <div class="_ptg-toolbar__content">
            <div class="_ptg-toolbar__content-inner">
                <h1>Targeting</h1>

                {% block overview %}
                    <table class="_ptg-toolbar__table">
                        {% block overviewTable %}
                            {% if documentTargetGroup is not null %}
                                <tr>
                                    <th>Document Target Group</th>
                                    <td class="_ptg-toolbar__table__col-right">
                                        {{ toolbar.label(documentTargetGroup.name, ['_ptg-toolbar__label--target-group']) }}
                                    </td>
                                </tr>
                            {% endif %}

                            <tr>
                                <th>Visitor ID</th>
                                <td class="_ptg-toolbar__table__col-right">
                                    {% if visitorInfo.visitorId is not empty %}
                                        {{ toolbar.label(visitorInfo.visitorId) }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>

                            <tr>
                                <th>Session ID</th>
                                <td class="_ptg-toolbar__table__col-right">
                                    {% if visitorInfo.sessionId is not empty %}
                                        {{ toolbar.label(visitorInfo.sessionId) }}
                                    {% else %}
                                        -
                                    {% endif %}
                                </td>
                            </tr>
                        {% endblock %}
                    </table>
                {% endblock %}

                {% block rules %}
                    {% if rules is not empty %}
                        <h2>
                            Matched Rules
                            {{ toolbar.label(rules|length) }}
                        </h2>

                        <table class="_ptg-toolbar__table">
                            {% block rulesTable %}
                                {% for rule in rules %}
                                    <tr class="_ptg-toolbar__table__row-with-details" data-index="{{ loop.index }}">
                                        <td>
                                            {{ toolbar.label(rule.name, ['_ptg-toolbar__label--rule', '_ptg-toolbar__table__row-with-details__trigger']) }}
                                        </td>
                                    </tr>
                                    <tr class="_ptg-toolbar__table__row-details _ptg-toolbar__table__row-details--collapsed" data-index="{{ loop.index }}">
                                        <td>
                                            {{ toolbar.metric('Rule ID', rule.id) }}

                                            {% if rule.duration is not null %}
                                                {{ toolbar.metric('Duration', rule.duration|round(2) ~ ' ms') }}
                                            {% endif %}

                                            {{ toolbar.metric('Conditions', rule.conditions|length) }}
                                            {{ toolbar.metric('Actions', rule.actions|length) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endblock %}
                        </table>
                    {% endif %}
                {% endblock %}

                {% block targetGroups %}
                    {% if targetGroups is not empty %}
                        <h2>
                            Assigned Target Groups
                            {{ toolbar.label(targetGroups|length) }}
                        </h2>

                        <table class="_ptg-toolbar__table">
                            {% block targetGroupsTable %}
                                {% for targetGroup in targetGroups %}
                                    <tr class="_ptg-toolbar__table__row-with-details" data-index="{{ loop.index }}">
                                        <td>
                                            {{ toolbar.label(targetGroup.name, ['_ptg-toolbar__label--target-group', '_ptg-toolbar__table__row-with-details__trigger']) }}
                                        </td>
                                        <td class="_ptg-toolbar__table__col-number">
                                            {{ toolbar.label(targetGroup.count) }}
                                        </td>
                                    </tr>

                                    <tr class="_ptg-toolbar__table__row-details _ptg-toolbar__table__row-details--collapsed" data-index="{{ loop.index }}">
                                        <td colspan="2">
                                            {{ toolbar.metric('Target Group ID', targetGroup.id) }}
                                            {{ toolbar.metric('Threshold', targetGroup.threshold) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endblock %}
                        </table>
                    {% endif %}
                {% endblock %}

                {% block documentTargetGroups %}
                    {% if documentTargetGroups is not empty %}
                        <h2>
                            Document Target Groups
                            {{ toolbar.label(documentTargetGroups|length) }}
                        </h2>

                        <table class="_ptg-toolbar__table">
                            {% block documentTargetGroupsTable %}
                                {% for assignment in documentTargetGroups %}
                                    <tr class="_ptg-toolbar__table__row-with-details" data-index="{{ loop.index }}">
                                        <td>
                                            {{ toolbar.label(assignment.document.path|truncate(32), ['_ptg-toolbar__table__row-with-details__trigger'], { title: assignment.document.path }) }}
                                        </td>
                                        <td class="_ptg-toolbar__table__col-right">
                                            {{ toolbar.label(assignment.targetGroup.name, ['_ptg-toolbar__label--target-group']) }}
                                        </td>
                                    </tr>

                                    <tr class="_ptg-toolbar__table__row-details _ptg-toolbar__table__row-details--collapsed" data-index="{{ loop.index }}">
                                        <td colspan="2">
                                            {{ toolbar.metric('Document ID', assignment.document.id) }}
                                            {{ toolbar.metric('Target Group ID', assignment.targetGroup.id) }}
                                        </td>
                                    </tr>
                                {% endfor %}
                            {% endblock %}
                        </table>
                    {% endif %}
                {% endblock %}

                {% block overrides %}
                    <h2>Overrides</h2>

                    {% block overrideForm %}
                        {{ form_start(overrideForm, { attr: { class: '_ptg-toolbar__override-form' }}) }}
                        {{ form_widget(overrideForm) }}

                        <div class="_ptg-toolbar__override-form__button-row">
                            <button type="submit" value="">Apply</button>
                            <button type="reset" value="">Reset</button>
                        </div>

                        {{ form_end(overrideForm) }}
                    {% endblock %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% endspaceless %}
{% endblock %}

{% block css %}
    <style type="text/css">
        {{ include('@PimcoreCore/Targeting/toolbar/toolbar.css') }}
    </style>
{% endblock %}

{% block js %}
    {{ include('@PimcoreCore/Targeting/toolbar/toolbar_js.html.twig') }}
{% endblock %}
