<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <link rel="icon" type="image/png" href="/pimcore/static/img/favicon/favicon-32x32.png" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% if document.getTitle() %}
        {{ zend_headTitle().set(document.getTitle())|ignore }}
    {% endif %}

    {% if document.getDescription() %}
        {{ zend_headMeta().appendName('description', document.getDescription())|ignore }}
    {% endif %}

    {{ zend_headTitle().append('pimcore Demo')|ignore }}
    {{ zend_headTitle().setSeparator(' : ')|ignore }}

    {{ zend_headTitle() }}
    {{ zend_headMeta() }}

    {{ zend_headLink().appendStylesheet('/website/static/bootstrap/css/bootstrap.css')|ignore }}
    {{ zend_headLink().appendStylesheet('/website/static/css/global.css')|ignore }}
    {{ zend_headLink().appendStylesheet('/website/static/lib/video-js/video-js.min.css', 'screen')|ignore }}
    {{ zend_headLink().appendStylesheet('/website/static/lib/magnific/magnific.css', 'screen')|ignore }}

    {% if editmode %}
        {{ zend_headLink().appendStylesheet('/website/static/css/editmode.css', 'screen')|ignore }}
    {% endif %}

    {{ zend_headLink()|raw }}

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="/website/static/js/html5shiv.js"></script>
    <script src="/website/static/js/respond.min.js"></script>
    <![endif]-->
</head>

<body class="{% if isPortal %}portal-page{% endif %}">

<div class="navbar-wrapper">
    <div class="container">
        <div class="navbar navbar-inverse navbar-static-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ mainNavStartNode }}">
                        <img src="/website/static/img/logo-white.svg" alt="pimcore Demo">
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    {{ mainNavigation.menu().renderMenu(null, {
                        maxDepth: 1,
                        ulClass: 'nav navbar-nav'
                    })|raw }}
                </div>
            </div>

            {% include '@App/Includes/language.html.twig' %}
        </div>
    </div>
</div>

{% if not isPortal %}

    {% include '@App/Includes/jumbotron.html.twig' %}

    <div id="content" class="container">
        <div class="{% if hideLeftNav %}col-md-12{% else %}col-md-9 col-md-push-3{% endif %}">

            {{ block('content') }}

            <div>
                <a href="/">{{ zend_translate('Home') }}</a> &gt;
                {{ mainNavigation.breadcrumbs().setMinDepth(null)|raw }}
            </div>
        </div>

        {% if not hideLeftNav %}

            <div class="col-md-3 col-md-pull-9 sidebar">
                <div class="bs-sidebar hidden-print affix-top" role="complementary">
                    <h3>{{ leftNavStartNode.getProperty('navigation_name') }}</h3>

                    {{ leftNavigation.menu.renderMenu(null, {
                        ulClass: 'nav bs-sidenav',
                        expandSiblingNodesOfActiveBranch: true
                    })|raw }}
                </div>

                {{ zend_inc(document.getProperty('sidebar')) }}
            </div>

        {% endif %}
    </div>

{% else %}

    {{ block('content') }}

{% endif %}

{# include a document-snippet - in this case the footer document #}
{% set footerSnippet = '/' ~ app.request.locale ~ '/shared/includes/footer' %}
{{ zend_inc(footerSnippet) }}

{{ zend_headScript().appendFile('/website/static/js/jquery-1.11.0.min.js')|ignore }}
{{ zend_headScript().appendFile('/website/static/bootstrap/js/bootstrap.js')|ignore }}
{{ zend_headScript().appendFile('/website/static/lib/magnific/magnific.js')|ignore }}
{{ zend_headScript().appendFile('/website/static/lib/video-js/video.js')|ignore }}
{{ zend_headScript().appendFile('/website/static/js/srcset-polyfill.min.js')|ignore }}
{{ zend_headScript()|raw }}

{% verbatim %}
<script>
    videojs.options.flash.swf = "/website/static/lib/video-js/video-js.swf";
</script>

<script>
    // main menu
    $(".navbar-wrapper ul.nav>li>ul").each(function () {
        var li = $(this).parent();
        var a = $("a.main", li);

        $(this).addClass("dropdown-menu");
        li.addClass("dropdown");
        a.addClass("dropdown-toggle");
        li.on("mouseenter", function () {
            $("ul", $(this)).show();
        });
        li.on("mouseleave", function () {
            $("ul", $(this)).hide();
        });
    });

    // side menu
    $(".bs-sidenav ul").each(function () {
        $(this).addClass("nav");
    });

    // gallery carousel: do not auto-start
    $('.gallery').carousel('pause');

    // tabbed slider text
    var clickEvent = false;
    $('.tabbed-slider').on('click', '.nav a', function() {
        clickEvent = true;
        $('.nav li').removeClass('active');
        $(this).parent().addClass('active');
    }).on('slid.bs.carousel', function(e) {
        if(!clickEvent) {
            var count = $('.nav').children().length -1;
            var current = $('.nav li.active');
            current.removeClass('active').next().addClass('active');
            var id = parseInt(current.data('slide-to'));
            if(count == id) {
                $('.nav li').first().addClass('active');
            }
        }
        clickEvent = false;
    });

    $("#portalHeader img, #portalHeader .item, #portalHeader").height($(window).height());
</script>
{% endverbatim %}

{% if editmode %}
    {% verbatim %}

    <script>
    // center the caption on the portal page
    $("#portalHeader .carousel-caption").css("bottom", Math.round(($(window).height() - $("#portalHeader .carousel-caption").height())/3) + "px");

    $(document).ready(function() {

        // lightbox (magnific)
        $('a.thumbnail').magnificPopup({
            type:'image',
            gallery: {
                enabled: true
            }
        });

        $(".image-hotspot").tooltip();
        $(".image-marker").tooltip();
    });
    </script>

    {% endverbatim %}
{% endif %}

</body>
</html>
