{% extends '@App/content-layout.html.twig' %}

{% block content %}

    {% set carouselSlides = pimcore_select('carouselSlides', {
        width: 70,
        reload: true,
        store: [[1,1],[2,2],[3,3],[4,4]]
    }) %}

    {% set count = carouselSlides.getData() %}
    {% if not count %}
        {% set count = 1 %}
    {% endif %}

    <div id="portalHeader" class="carousel header slide" data-ride="carousel" {% if editmode %}data-interval="false"{% endif %}>
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#portalHeader" data-slide-to="0" class="active"></li>
            <li data-target="#portalHeader" data-slide-to="1"></li>
            <li data-target="#portalHeader" data-slide-to="2"></li>
        </ol>

        <div class="carousel-inner">


            {% for i in 0..(count-1) %}

                {% set image = pimcore_image('cImage_' ~ i, {
                    'thumbnail': 'portalCarousel',
                    'reload': true,
                    'hidetext': true,
                    'title': 'Drag Image Here',
                    'width': 150,
                    'height': 70,
                    'dropClass': 'portal-slide-' ~ (i + 1)
                }) %}

                <div class="item{% if i == 0 %} active{% endif %} portal-slide-{{ i + 1 }}">
                    {{ image.frontend()|raw }}

                    <div class="container">
                        <div class="carousel-caption">

                            {% if editmode %}
                                {{ image|raw }}

                                <br/><br />
                            {% endif %}

                            <h1>{{ pimcore_input('cHeadline_' ~ i) }}</h1>
                            <div class="caption">
                                {{ pimcore_textarea('cText_' ~ i) }}
                            </div>
                            <div class="margin-bottom-10">
                                {{ pimcore_link('cLink_' ~ i, {
                                    class: 'btn btn-large btn-default'
                                }) }}
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}

        </div>

        <a class="left carousel-control" href="#portalHeader" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
        <a class="right carousel-control" href="#portalHeader" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div>

    {% if editmode %}
        <div class="container" style="padding-bottom: 40px">
            Number of Slides: {{ carouselSlides|raw }}
        </div>
    {% endif %}

    <div class="container">
        {{ pimcore_areablock('content') }}
    </div>

{% endblock %}
