{% extends '@App/Content/content.html.twig' %}

{% block content %}

    {{ parent() }}

    <h2>{{ zend_translate('Original Dimensions of the Image') }}</h2>
    {{ image.width }} x {{ image.height }}

    {% set thumbnails = {
        'Cover': 'exampleCover',
        'Contain': 'exampleContain',
        'Frame': 'exampleFrame',
        'Rotate': 'exampleRotate',
        'Resize': 'exampleResize',
        'Scale by Width': 'exampleScaleWidth',
        'Scale by Height': 'exampleScaleHeight',
        'Contain &amp; Overlay': 'exampleOverlay',
        'Rounded Corners': 'exampleCorners',
        'Sepia': 'exampleSepia',
        'Grayscale': 'exampleGrayscale',
        'Mask': 'exampleMask',
        'Combined 1': 'exampleCombined1',
        'Combined 2': 'exampleCombined2',
    } %}

    {% set i = 0 %}
    {% for title, name in thumbnails %}

        {% if i % 3 == 0 %}
            <div class="row">
        {% endif %}

            <div class="col-lg-4">

                {% set thumbnail = image.getThumbnail(name) %}
                <div class="img-container">
                    {{ thumbnail.getHtml()|raw }}
                </div>

                <h3>{{ zend_translate(title) }}</h3>

                <div>
                    {{ zend_translate('Dimensions') }}
                    {{ thumbnail.width }} x {{ thumbnail.height }}
                </div>
            </div>

        {% if (i % 3 == 0) or (i >= thumbnails|length) %}
            </div>
        {% endif %}

    {% endfor %}

    {{ pimcore_areablock('content_bottom')|raw }}

{% endblock %}
