{% extends '@PimcoreAdmin/admin/login/layout.html.twig' %}

{% block content %}

    {% if app.request.method == 'POST' %}
        {% if reset_error is not defined %}
            <div class="text success">
                {{ 'A temporary login link has been sent to your email address.'|trans([],'admin') }}
                <br/>
                {{ 'Please check your mailbox.'|trans([],'admin') }}
            </div>
        {% else %}
            <div class="text error">
                {{ 'An error occured when resetting password:'|trans([],'admin') }}
                {{ reset_error|trans([],'admin') }}
                <br/>
                {{ 'Please retry again later or contact an administrator.'|trans([],'admin') }}
            </div>
        {% endif %}
    {% else %}
        <div class="text info">
            {{ 'Enter your username and pimcore will send a login link to your email address'|trans([],'admin') }}
        </div>

        <form method="post" action="{{ path('pimcore_admin_login_lostpassword') }}">
            <input type="text" name="username" autocomplete="username" placeholder="{{ 'username'|trans([], 'admin') }}" required autofocus>
            <input type="hidden" name="csrfToken" value="{{ pimcore_csrf.getCsrfToken(app.request.session) }}">

            <button type="submit" name="submit">{{ 'submit'|trans([],'admin') }}</button>
        </form>
    {% endif %}

    <a href="{{ path('pimcore_admin_login') }}">{{ 'Back to Login'|trans([],'admin') }}</a>

    {{ pimcore_breach_attack_random_content() }}
{% endblock %}


