{% extends 'layout.html.twig' %}

{% block content %}
    {{ include('Includes/content-default.html.twig') }}

    {% if success %}

        <h2>{{ 'Thank you very much'|trans }}</h2>
        <p>
            We received the following information from you:

            <br/>
            <br/>

            <b>Firstname: </b> {{ firstname }}<br/>
            <b>Lastname: </b> {{ lastname }}<br/>
            <b>E-Mail: </b> {{ email }}<br/>
        </p>

    {% else %}
        {# see comment on advanced/objectForm template regarding the form theme #}
        {% form_theme form 'Form/default.html.twig' %}

        {{ form_start(form, {
            attr: {
                class: 'form-horizontal',
                role: 'form'
            }
        }) }}

        {{ form_row(form.firstname) }}
        {{ form_row(form.lastname) }}
        {{ form_row(form.email) }}

        {# render checkbox manually as we need custom markup #}
        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                <div class="checkbox">
                    <label>
                        {{ form_widget(form.checkbox) }} {{ form.checkbox.vars['label'] }}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-lg-offset-2 col-lg-10">
                {{ form_widget(form.submit, {
                    attr: {
                        class: 'btn btn-default'
                    }
                }) }}
            </div>
        </div>

        {{ form_end(form) }}

    {% endif %}
{% endblock %}
