<header class="jumbotron subhead">
    <div class="container">
        <h2>{{ pimcore_input('headTitle') }}</h2>
        <p class="lead">{{ pimcore_input('headDescription') }}</p>
    </div>
</header>

{% if document.getProperty('headerColor') %}

    {% with %}

    {% set colorMapping = {
    blue: ["#258dc1", "#2aabeb"],
    green: ["#278415", "#1a9f00"]
    } %}

    {% set activeColor = colorMapping[document.getProperty('headerColor')] %}
    {% set gradientStart = activeColor[0] %}
    {% set gradientEnd = activeColor[1] %}

    <style>
        .jumbotron {
            background: {{ gradientEnd }}; /* Old browsers */
            background: -moz-linear-gradient(45deg, {{ gradientStart }} 0%, {{ gradientEnd }} 100%); /* FF3.6+ */
            background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, {{ gradientStart }}), color-stop(100%, {{ gradientEnd }})); /* Chrome,Safari4+ */
            background: -webkit-linear-gradient(45deg, {{ gradientStart }} 0%, {{ gradientEnd }} 100%); /* Chrome10+,Safari5.1+ */
            background: -o-linear-gradient(45deg, {{ gradientStart }} 0%, {{ gradientEnd }} 100%); /* Opera 11.10+ */
            background: -ms-linear-gradient(45deg, {{ gradientStart }} 0%, {{ gradientEnd }} 100%); /* IE10+ */
            background: linear-gradient(45deg, {{ gradientStart }} 0%, {{ gradientEnd }} 100%); /* W3C */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='{{ gradientStart }}', endColorstr='{{ gradientEnd }}', GradientType=1); /* IE6-9 fallback on horizontal gradient */
        }
    </style>

    {% endwith %}
{% endif %}
