{% set language = app.request.locale %}
{# @var  \Pimcore\Bundle\AdminBundle\Security\User\User #}
{% set userProxy = app.user %}
{% set user = userProxy.user %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>

    <link rel="icon" type="image/png" href="/bundles/pimcoreadmin/img/favicon/favicon-32x32.png"/>
    <meta name="google" value="notranslate">

    <style type="text/css">
        body {
            margin: 0;
            padding: 0;
            background: #fff;
        }

        #pimcore_loading {
            margin: 0 auto;
            width: 300px;
            padding: 300px 0 0 0;
            text-align: center;
        }

        .spinner {
            margin: 100px auto 0;
            width: 70px;
            text-align: center;
        }

        .spinner > div {
            width: 18px;
            height: 18px;
            background-color: #3d3d3d;

            border-radius: 100%;
            display: inline-block;
            -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
            animation: sk-bouncedelay 1.4s infinite ease-in-out both;
        }

        .spinner .bounce1 {
            -webkit-animation-delay: -0.32s;
            animation-delay: -0.32s;
        }

        .spinner .bounce2 {
            -webkit-animation-delay: -0.16s;
            animation-delay: -0.16s;
        }

        @-webkit-keyframes sk-bouncedelay {
            0%, 80%, 100% {
                -webkit-transform: scale(0)
            }
            40% {
                -webkit-transform: scale(1.0)
            }
        }

        @keyframes sk-bouncedelay {
            0%, 80%, 100% {
                -webkit-transform: scale(0);
                transform: scale(0);
            }
            40% {
                -webkit-transform: scale(1.0);
                transform: scale(1.0);
            }
        }

        #pimcore_panel_tabs-body {
            background-image: url({{ path('pimcore_settings_display_custom_logo') }});
            {% if config['branding']['color_admin_interface_background']|default(null) is not null %}
                background-color: {{ config['branding']['color_admin_interface_background'] }};
            {% endif %}
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 500px auto;
        }
    </style>

    <title>{{ settings.hostname }} :: Pimcore</title>

    <script {{ pimcore_csp.getNonceHtmlAttribute()|raw }}>
        var pimcore = {}; // namespace

        // hide symfony toolbar by default
        var symfonyToolbarKey = 'symfony/profiler/toolbar/displayState';
        if(!window.localStorage.getItem(symfonyToolbarKey)) {
            window.localStorage.setItem(symfonyToolbarKey, 'none');
        }
    </script>

    <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}" {{ pimcore_csp.getNonceHtmlAttribute()|raw }}></script>
    <script src="{{ path('fos_js_routing_js', {'callback' : 'fos.Router.setData'}) }}" {{ pimcore_csp.getNonceHtmlAttribute()|raw }}></script>
</head>

<body class="pimcore_version_10" data-app-env="{{ app.environment }}">

<div id="pimcore_loading">
    <div class="spinner">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
</div>
{% set runtimePerspective = perspectiveConfig.getRuntimePerspective(user) %}

<div id="pimcore_sidebar">
    <div id="pimcore_navigation" style="display:none;">
        <ul>
            {% set navigations = {
                'file': {'label': 'file', 'icon': 'file'},
                'extras': {'label': 'tools', 'icon': 'build'},
                'marketing': {'label': 'marketing', 'icon': 'bar_chart'},
                'settings': {'label': 'settings', 'icon': 'settings'},
                'ecommerce': {'label': 'bundle_ecommerce_mainmenu', 'icon': 'shopping_cart', 'extraAttr': 'style="display: none;"'},
                'search': {'label': 'search', 'icon': 'search'}
            } %}

            {% set extraAttr = {'ecommerce': 'style="display: none;"'} %}

            {% for navKey,navData in navigations %}
                {% if config.inPerspective(runtimePerspective, navKey) %}
                    <li id="pimcore_menu_{{ navKey }}" data-menu-tooltip="{{ navData["label"]|trans([],'admin') }}" class="pimcore_menu_item pimcore_menu_needs_children" {{ navData["extraAttr"] ?? '' }}>
                        <img src="/bundles/pimcoreadmin/img/material-icons/outline-{{ navData["icon"] }}-24px.svg">
                    </li>
                {% endif %}
            {% endfor %}
            <li id="pimcore_menu_maintenance" data-menu-tooltip="{{ "deactivate_maintenance"|trans([], 'admin') }}" class="pimcore_menu_item " style="display:none;"></li>
        </ul>
    </div>

    <div id="pimcore_status"></div>

    <div id="pimcore_notification" data-menu-tooltip="{{ "notifications"|trans([],'admin') }}" class="pimcore_icon_comments">
        <img src="/bundles/pimcoreadmin/img/material-icons/outline-sms-24px.svg">
        <span id="notification_value" style="display:none;"></span>
    </div>

    <div id="pimcore_avatar" style="display:none;">
        <img src="{{ path('pimcore_admin_user_getimage') }}" data-menu-tooltip="{{ user.name }} | {{ 'my_profile'|trans([],'admin') }}"/>
    </div>

    <form id="pimcore_logout_form" method="post" action="{{ path('pimcore_admin_logout') }}">
        <input type="hidden" name="csrfToken" value="{{ pimcore_csrf.getCsrfToken() }}">

        <a id="pimcore_logout" data-menu-tooltip="{{ "logout"|trans([],'admin') }}" href="#" style="display: none">
            <img src="/bundles/pimcoreadmin/img/material-icons/outline-logout-24px.svg">
        </a>
    </form>
    <div id="pimcore_signet" data-menu-tooltip="Pimcore Platform ({{ settings.version }}|{{ settings.build }})" style="text-indent: -10000px">
        BE RESPECTFUL AND HONOR OUR WORK FOR FREE & OPEN SOURCE SOFTWARE BY NOT REMOVING OUR LOGO.
        WE OFFER YOU THE POSSIBILITY TO ADDITIONALLY ADD YOUR OWN LOGO IN PIMCORE'S SYSTEM SETTINGS. THANK YOU!
    </div>
</div>

<div id="pimcore_tooltip" style="display: none;"></div>
<div id="pimcore_quicksearch"></div>

{# define stylesheets #}

{% set styles = [
        path('pimcore_admin_misc_admincss'),
        "/bundles/pimcoreadmin/css/icons.css",
        "/bundles/pimcoreadmin/js/lib/leaflet/leaflet.css",
        "/bundles/pimcoreadmin/js/lib/leaflet.draw/leaflet.draw.css",
        "/bundles/pimcoreadmin/extjs/css/PimcoreApp-all_1.css",
        "/bundles/pimcoreadmin/extjs/css/PimcoreApp-all_2.css",
        "/bundles/pimcoreadmin/css/admin.css"
    ]
%}

<!-- stylesheets -->
<style type="text/css">
    {#
     # use @import here, because if IE9 CSS file limitations (31 files)
     # see also: http://blogs.telerik.com/blogs/posts/10-05-03/internet-explorer-css-limits.aspx
     # @import bypasses this problem in an elegant way
    #}
    {% for style in styles %}
        @import url("{{ style }}?_dc={{ settings.build }}");
    {% endfor %}
</style>

<!-- some javascript -->
{# pimcore constants #}
<script {{ pimcore_csp.getNonceHtmlAttribute()|raw }}>
    pimcore.settings = {{(settings|json_encode(constant('JSON_PRETTY_PRINT'))|raw)}};
</script>

<script src="{{ path('pimcore_admin_misc_jsontranslationssystem', {'language': language, '_dc': settings.build }) }}" {{ pimcore_csp.getNonceHtmlAttribute()|raw }}></script>
<script src="{{ path('pimcore_admin_user_getcurrentuser', {'_dc': settings.build }) }}" {{ pimcore_csp.getNonceHtmlAttribute()|raw }}></script>
<script src="{{ path('pimcore_admin_misc_availablelanguages', {'_dc': settings.build }) }}" {{ pimcore_csp.getNonceHtmlAttribute()|raw }}></script>


{# load plugin scripts #}

{# // only add the timestamp if the devmode is not activated, otherwise it is very hard to develop and debug plugins,
 # // because the filename changes on every reload and therefore breakpoints, ... are resetted on every reload
#}

{% set pluginDcValue = "now"|date('U') %}
{% if settings.disableMinifyJs %}
    {% set pluginDcValue = 1 %}
{% endif %}

{{ pimcore_process_scripts()|raw }}

{% for pluginCssPath in pluginCssPaths %}
    <link rel="stylesheet" type="text/css" href="{{ pluginCssPath }}?_dc={{ pluginDcValue }}"/>
{% endfor %}

{#  MUST BE THE LAST LINE  #}
<script src="/bundles/pimcoreadmin/js/pimcore/startup.js?_dc={{ settings.build }}" {{ pimcore_csp.getNonceHtmlAttribute()|raw }}></script>
</body>
</html>
