<header class="jumbotron subhead">
    <div class="container">
        <h2>{{ pimcore_input('headTitle') }}</h2>
        <p class="lead">{{ pimcore_input('headDescription') }}</p>
    </div>

    {% set color = document.getProperty('headerColor') %}
    {% if color %}
        {% set colorMapping = {
            blue: ['#258dc1', '#2aabeb'],
            green: ['#278415', '#1a9f00']
        } %}

        {% if colorMapping[color] is defined %}
            {% set c = colorMapping[color] %}

            <style>
                .jumbotron {
                    background: {{ c[1] }}; /* Old browsers */
                    background: -moz-linear-gradient(45deg, {{ c[1] }} 0%, {{ c[1] }} 100%); /* FF3.6+ */
                    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, {{ c[1] }}), color-stop(100%, {{ c[1] }})); /* Chrome,Safari4+ */
                    background: -webkit-linear-gradient(45deg, {{ c[1] }} 0%, {{ c[1] }} 100%); /* Chrome10+,Safari5.1+ */
                    background: -o-linear-gradient(45deg, {{ c[1] }} 0%, {{ c[1] }} 100%); /* Opera 11.10+ */
                    background: -ms-linear-gradient(45deg, {{ c[1] }} 0%, {{ c[1] }} 100%); /* IE10+ */
                    background: linear-gradient(45deg, {{ c[1] }} 0%, {{ c[1] }} 100%); /* W3C */
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='{{ c[1] }}', endColorstr='{{ c[1] }}', GradientType=1); /* IE6-9 fallback on horizontal gradient */
                }
            </style>
        {% endif %}

    {% endif %}
</header>
