<li class="dropdown">
    <a href="#" class="dropdown-toggle" id="loginSelector" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <span class="glyphicon glyphicon-user"></span> <strong>{{ app.user.username }}</strong>
        {% else %}
            {{ "Not logged in"|trans }}
        {% endif %}

        <span class="caret"></span>
    </a>

    <ul class="dropdown-menu navbar-login" aria-labelledby="loginSelector">
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            {#
            Show secure/user and secure/admin links depending on user role. ROLE_ADMIN inherits from ROLE_USER (see
            role_hierarchy in security.yml, so the secure_user link is shown for all logged in users.
            #}
            {% if is_granted('ROLE_USER') %}

                <li>
                    <a href="{{ path('demo_secure_user') }}">
                        {{ "Secure User Page"|trans }}
                    </a>
                </li>

            {% endif %}

            {% if is_granted('ROLE_ADMIN') %}

                <li>
                    <a href="{{ path('demo_secure_admin') }}">
                        {{ "Secure Admin Page"|trans }}
                    </a>
                </li>

            {% endif %}

            <li role="separator" class="divider"></li>

            <li>
                <a href="{{ path('demo_logout') }}">Logout</a>
            </li>
        {% else %}
            <li>
                <a href="{{ path('demo_login') }}">Login</a>
            </li>
        {% endif %}
    </ul>
</li>
