<head>
    {{ encore_entry_script_tags('bootstrap', null, 'pimcoreEcommerceFramework') }}
    {{ encore_entry_link_tags('bootstrap', null, 'pimcoreEcommerceFramework') }}

    {{ encore_entry_script_tags('flatpickr', null, 'pimcoreEcommerceFramework') }}
    {{ encore_entry_link_tags('flatpickr', null, 'pimcoreEcommerceFramework') }}

    {{ encore_entry_script_tags('voucher', null, 'pimcoreEcommerceFramework') }}
    {{ encore_entry_link_tags('voucher', null, 'pimcoreEcommerceFramework') }}

    {% apply spaceless %}
        {% do pimcore_head_link().appendStylesheet('/bundles/pimcoreecommerceframework/vendor/fontawesome/css/fontawesome-all.min.css') %}
        {% do pimcore_head_link().appendStylesheet(asset('/bundles/pimcoreecommerceframework/css/voucherservice/style.css')) %}
        {% do pimcore_head_script().appendFile(asset('/bundles/pimcoreecommerceframework/js/voucherservice/voucherSeriesTabScript.js')) %}
    {% endapply %}

    {% block head_stylesheets deferred %}
    {{ pimcore_head_link() }}
    {% endblock %}
</head>
<body>
    {# output scripts added before #}
    {% block scripts deferred %}
        {{ pimcore_head_script() }}
    {% endblock %}
    {% set colors = {
        'used': "#F7355B",
        'free': "#47BFBD",
        'reserved': "#FDC45B"}
    %}
    {{ block('content') }}
</body>
