{% extends '::layout.html.twig' %}

{% block content %}

<div class="row">
    <div class="col-md-6 col-md-push-3">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    {{ "Please log in to continue"|trans }}
                </h3>
            </div>

            <div class="panel-body">

                {% if error %}
                    <div class="alert alert-danger">
                        {{ error.getMessage() }}
                    </div>
                {% endif %}

                <p>{{ "Depending on the user role and its permissions, the user dropdown in the navbar will show different entries."|trans }}</p>
                <p>{{ "Available Users"|trans }}:</p>

                <ul>
                    {% for availableUser in availableUsers %}

                        <li>
                            <span class="label label-success">{{ availableUser.username }}</span>
                            with password
                            <span class="label label-default">{{ availableUser.password }}</span>

                            &mdash;

                            {% for role in availableUser.roles %}
                                <span class="label label-default">{{ role }}</span>
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>

                {% form_theme form ':Form:login.html.twig' %}
                {{ form_start(form) }}
                {{ form_row(form._username) }}
                {{ form_row(form._password) }}
                {{ form_widget(form._target_path) }}
                {{ form_widget(form._submit, {
                    attr: {
                        class: 'btn btn-primary pull-right'
                    }
                }) }}
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

{% endblock %}
