<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Pimcore!</title>

        <meta charset="UTF-8">
        <meta name="robots" content="noindex, follow"/>

        <link rel="icon" type="image/png" href="/bundles/pimcoreadmin/img/favicon/favicon-32x32.png"/>

        <link rel="stylesheet" href="/bundles/pimcoreadmin/css/login.css" type="text/css"/>

        {% for pluginCssPath in pluginCssPaths %}
            <link rel="stylesheet" type="text/css" href="{{ pluginCssPath }}?_dc={{ 'now'|date('U') }}"/>
        {% endfor %}
    </head>
    <body class="pimcore_version_10 {{ config['branding']['login_screen_invert_colors'] ? 'inverted' : '' }}">
        {% set backgroundImageUrl = "" %}
        {% set customImage = config['branding']['login_screen_custom_image'] %}
        {# https://github.com/pimcore/pimcore/issues/8016 #}
        {# https://github.com/pimcore/pimcore/issues/8129 #}
        {% if customImage matches '@^https?://@' %}
            {% set backgroundImageUrl = customImage %}
        {% elseif pimcore_file_exists(constant('PIMCORE_WEB_ROOT') ~ '/var/assets' ~ customImage) %}
            {% set backgroundImageUrl = customImage %}
        {% elseif pimcore_file_exists(constant('PIMCORE_WEB_ROOT') ~ customImage) %}
            {% set backgroundImageUrl = customImage %}
        {% else %}
{#            {% set defaultImages = ['pimconaut-ecommerce.svg', 'pimconaut-world.svg', 'pimconaut-engineer.svg', 'pimconaut-moon.svg', 'pimconaut-rocket.svg'] %}#}
{#            {% set backgroundImageUrl = '/bundles/pimcoreadmin/img/login/' ~ random(defaultImages) %}#}
            {% set backgroundImageUrl = '/bundles/pimcoreadmin/img/login/pcx.svg' %}
        {% endif %}

        <style type="text/css">
            #background {
                background-image: url("{{ backgroundImageUrl }}");
            }
        </style>

        {% set customColor = config['branding']['color_login_screen'] %}
        {% if (customColor is not empty) %}
        <style type="text/css">
            #content button {
                background: {{ customColor }};
            }

            #content a {
                color: {{ customColor }};
            }
        </style>
        {% endif %}

        <div id="logo">
            <img src="{{ path('pimcore_settings_display_custom_logo') ~ (config['branding']['login_screen_invert_colors'] ? '' : '?white=true') }}">
        </div>

        <div id="content">
            {{ block('content') }}
        </div>

        {% if debug is defined and debug %}
            <div id="github">
                <a class="github-button" href="https://github.com/pimcore/pimcore" data-color-scheme="no-preference: dark; light: dark; dark: dark;" data-size="large" aria-label="Star pimcore/pimcore on GitHub">Star</a>
            </div>
            <script async defer src="https://buttons.github.io/buttons.js"></script>
        {% endif %}

        {#
            <div id="news">
                <h2>News</h2>
                <hr>
                <p>
                    <a href="#">Where is Master Data Management Heading in the Future?</a>
                </p>
                <hr>
                <p>
                    <a href="#">Priint and Pimcore announce technology partnership to ease publishing workflows</a>
                </p>
            </div>
        #}

        <div id="contentBackground"></div>
        <div id="background"></div>
        <div id="footer">
            &copy; 2009-{{ "now"|date("Y") }} <a href="http://www.pimcore.org/">Pimcore GmbH</a><br>
            BE RESPECTFUL AND HONOR OUR WORK FOR FREE & OPEN SOURCE SOFTWARE BY NOT REMOVING OUR COPYRIGHT NOTICE!
            KEEP IN MIND THAT REMOVING THE COPYRIGHT NOTICE IS VIOLATING OUR LICENSING TERMS!
        </div>

        {% if block('below_footer') is defined %}
            {{ block('below_footer') }}
        {% endif %}

    </body>
</html>
